[Unit]
Description=Configure additional vnics
Requires=multi-user.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/secondary_vnic_all_configure.sh -c

[Install]
WantedBy=multi-user.target